/* style.css */
@charset "UTF-8";
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  background-color: #5c8ac6;
}
header ul{
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
  background-color: #5c8ac6
}
header ul li{
  display: table-cell;
  min-width: 50px;
}
header li a{
  display: block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}
header li.current{
  background-color: #85d2d0;
}
header li.current a{
  color: #FFFFFF;
  text-style: bond;
}
header li:hover{
  background-color: #f4b9b8;
}

/* General Styles */
body {
  background-color: #345c72;
  font-family: 'Times New Roman', Times, serif;
  color: #2a2e30;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  padding-top: 80px;
}
            
h1 { color:#FFFFFF; border-bottom: 2px solid #FFFFFF; padding-bottom: 5px; }
h2 { color:#2a2e30; margin-top: 0; }
h3 { color:#2a2e30; margin-top: 0; }

/* The Rounded Box*/
.content-box {
  background-color: #85d2d0;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0,1);
  max-width: 900px;
}

.text-white { color: #FFFFFF; }

/* Sliding Picutre Gallery */
.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 10px;
  padding: 10px 0;
  scrollbar-width: thin;
}
.slider img {
  flex-shrink: 0;
  width: 300px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  scroll-snap-align: start;
}

/* Histry List Formatting */
dt { font-weight: bold; color: #FFA8B6; font-size: 1.2em; margin-top: 15px; }
dd { margin-bottom: 10px; margin-left: 20px; }


