/* style.css */
@charset "UTF-8";

CSS
nav ul{
  display: table;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
nav ul li{
  display: table-cell;
  min-width: 50px;
}
nav li a{
  display: block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}
nav li.current{
  background-color: #85d2d0;
}
nav li.current a{
  color: #FFFFFF;
  text-style: bond;
}
nav li.hover}
  background: #f4b9b8;
}

